body{
    background-color: #663300;
   
}
.div1{
    background-color: antiquewhite;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
.dp{
    font-size: 20px;
    color: blueviolet;
    text-align: center;
  font-family: 'Courier New', monospace;

}
.d2{
    background-color: aquamarine;
    margin: 130px;
    border-radius: 9px;
    box-shadow: 8px 8px 8px  black;
}
.dp2{
    font-size: 21px;
    text-align: right;
}
.d3{
    background-color: rgb(230, 151, 54);
    border-radius: 11px;
    box-shadow: 10px 10px 10px red;
    margin: 130px;
}
.ol{
    font-size: 25px;
    font-family: 'Courier New', monospace;
}
.p3{
    font-size: 28px;
    text-align: right;
    font-family: 'Courier New', monospace;
}