body{
    background-color: #663300;
   
}
.div1{
    background-color: antiquewhite;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
.dp{
    font-size: 20px;
    color: blueviolet;
    text-align: center;
  font-family: 'Courier New', monospace;

}
.d2{
    background-color: aquamarine;
    margin: 130px;
    border-radius: 9px;
    box-shadow: 8px 8px 8px  black;
}
.dp2{
    font-size: 21px;
    text-align: right;
}
.d3{
    background-color: rgb(230, 151, 54);
    border-radius: 11px;
    box-shadow: 10px 10px 10px red;
    margin: 130px;
}
.ol{
    font-size: 25px;
    font-family: 'Courier New', monospace;
}
.p3{
    font-size: 28px;
    text-align: right;
    font-family: 'Courier New', monospace;
}
.hudai{
    background-image: url(images.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 80px;
    box-shadow: 10px 9px 6px bisque;
}
.fi{
    font-size: 40px;
}
input{
    margin-top: 10px;
    background: none;
    font-size: 18px;
    box-shadow: 10px 10px 10px black;
   
}
.hu{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
}
.gp{
    text-align: end;
    color: aliceblue;
}

.d3:hover {
    background-color: green;
  }
  .div1:hover{
    background-color: blueviolet;
    color: aliceblue;
    transform: scale(1.1) ;
    http://127.0.0.1:5500/g.html ;
  }
  .dp:hover{
    background-color: blueviolet;
    color: aliceblue;
  }

  